{# [UPI-Payment] is a Payment Module to Integrate#}
{# UPI - [ Unified Payments Interface ] A Service From NPCI - [ National Payments Corporation Of India ]#}
{# as a Payment Gateway Method in OPENCART - 3.0.2.0 - 3.0.3.0 - 3.0.3.1  - 3.0.3.2 #}

{# Developed By: #}
{# Mr. TARAKESHWAR GAJAM #}
{# ABCD PAYMENT SERVICES, #4-1-71/416, Sai Durga Gardens, Nacharam Main Road, Medchal-Malkajgiri District, Telangana State - 500076, India. #}
{# URL: https://www.abcd-pay.com , E-Mail : admin@abcd-pay.com, Mobile : 0091-0-8106877688. #}

{# File Path = "catalog/view/theme/default/template/checkout/upipaymenterror.twig" #}

{{ header }}
<div id="checkout-upipaymenterror" class="container">
  <div class="row">
    {{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
        {{ content_top }}
        <div class="well well-sm" id="divupipaymentcomment" name="divupipaymentcomment"  style="width: 100%; border: 0;font-weight: bold">
        <table style="border: 0">
            <tr>
                <td>{{ upipaymentcomment }}&nbsp&nbsp</td>
                <td id="countdowntimer" name="countdowntimer"></td>
            </tr>
        </table>
        </div>
        {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}
<script type="text/javascript">
    var timeout = 10000;
    setTimeout(function() {
        location='{{ successpage }}'
    }, timeout);
    var timeleft = (timeout/1000);
    var orderstatusTimer = setInterval(function(){
        document.getElementById("countdowntimer").innerHTML = ("0"+(Math.floor(timeleft/60))).substr(-2)+':'+("0"+(Math.floor(timeleft%60))).substr(-2);
        timeleft -= 1;
        if(timeleft <= 0){
            clearInterval(orderstatusTimer);
            document.getElementById("countdowntimer").innerHTML = "E-Mail Sent"
        }
    }, 1000);
</script>